/* Top Header Starts Here */
.tob-header{
    background-color: #222933;
    padding: 50px 0px;
    position: relative;
}

.solid-bar-one{
    position: absolute;
    background-color: #df1a2e;
    height: 40px;
    width: 40px;
    top: 0px;
    right: 0px;
}
.solid-bar-two{
    position: absolute;
    background-color: #df1a2e;
    height: 40px;
    width: 40px;
    bottom: -20px;
    left: 0px;
}
.solid-bar-three{
    position: absolute;
    background-color: #fff;
    height: 2px;
    width: 392px;
    bottom: 20px;
    left: 0px;
}
.solid-bar-four{
    position: absolute;
    background-color: #fff;
    height: 2px;
    width: 407px;
    top: 40px;
    right: 0px;
}
.tob-header::before{
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #df1a2e;
    height: 40px;
    width: 400px;
    transform: skew(-20deg);
}
.tob-header::after{
    content: '';
    position: absolute;
    bottom: -20px;
    left: 0px;
    background-color: #df1a2e;
    height: 40px;
    width: 400px;
    transform: skew(20deg);
}
.logo{
    color: white;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 5px 10px;
    border-radius: 10px;
    letter-spacing: 1px;
    border: 2px dotted #fff;
}
.tob-header-area{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.tob-header-area-end{
    color: #fff;
}
.tob-header-area-end h3{
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #df1a2e;
    font-size: 28px;
}
.tob-header-area-end p{
    margin-top: 5px;
    font-size: 18px;
}
.tob-header-area-end p strong{
    color: #ddd;
    font-weight: 700;
}
/* Top Header Ends Here */

/* Invoice Info Starts Here */
.invoice-info{
    padding: 60px 0px;
}
.invoice-info-area{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.invoice-info-content h4{
    text-transform: uppercase;
    font-size: 20px;
    color: #333;
    margin-top: 5px;
}
.invoice-info-content h5{
    font-size: 18px;
    color: #df1a2e;
    margin-bottom: 5px;
}
.invoice-info-content p{
    margin-top: 5px;
    font-size: 16px;
    color: #333;
}
/* Invoice Info Ends Here */

/* Invoice Table Starts Here */
.invoice-table{
    padding: 60px 0px;
}
table{
    width: 1024px;
    border: 3px solid #df1a2e;
    margin: auto;
}
table th{
    text-transform: capitalize;
    padding: 10px;
    color: #333;
    font-size: 18px;
    letter-spacing: 1px;
    word-spacing: 2px;
}
tfoot td{
    padding: 10px;
    color: #df1a2e;
    font-weight: 700;
}
tfoot td p{
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    color: #333;
    letter-spacing: 1px;
    word-spacing: 2px;
}
tbody td{
    padding: 10px;
    text-align: center;
}
button{
    background-color: #222933;
    color: #df1a2e;
    border: 1px dotted #df1a2e;
    font-size: 28px;
    font-weight: 700;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
select,
input{
    width: 100%;
    height: 40px;
    border: 1px solid #df1a2e;
    padding-left: 20px;
    color: #df1a2e;
    font-size: 18px;
    font-weight: 700;

}
/* Invoice Table Ends Here */

/* Terms Area Starts Here */
.terms-area{
    padding: 60px 0px;
}
.terms-area-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.terms-area-end h4,
.terms-area-start h4{
    color: #df1a2e;
    font-size: 20px;
    letter-spacing: 1px;
    margin-top: 6px;
    margin-bottom: 2px;
}
.terms-area-start p{
    color: #333;
    font-size: 16px;
    margin-top: 6px;
}
/* Terms Area Ends Here */

/* Footer Starts Here */
footer{
    padding: 30px;
    background-color: #222933;
    text-align: center;
    color: #df1a2e;
}
footer p{
    letter-spacing: 1px;
    font-weight: 700;
}
/* Footer Ends Here */